{% extends 'base.html' %}

{% block content %}
    <h1>My Home Lab</h1>
    <div class="board">
        <p>Hi there, this is Satoshi. A little bit about the background story. I had an opportunity to join Meta Pre Internship through MLH 2024 Summer. I learned variouse production engineering skills from Linux, Docker, Github Actions, to deploy web applications.   This website is hosted by home server with the help of cloudflare. 
            I'm hosting this website to gain more practical experiecne and deepen my understanding</p>
    </div>
    <h2>Test for auto deployment..</h2>
{% endblock %}